@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
    .main{
        position: absolute;
        top: 50%;
        box-sizing: border-box;
        width: 336px;
        min-height: 260px;
        height: auto;
        left: 38%;
        top: 232px;
        border: 1px solid #C4C4C4;
        border-radius: 10px;
    }
    .forScroll{
        max-height: 200px;
        overflow-y: auto;
    }
    .addButton{
        display: flex;
        width: 150px;
        height: 42px;
        background: #9953F1;
        border-radius: 71px;
        margin-bottom: 10px;
    }
    .listofText{
        margin-left: 30px;
        border: 1px solid #C4C4C4;
        border-radius: 10px;
        width: 283px;
        min-height: 40px;
    }
    .yellowDiv{
        width: 335px;
        height: 28px;
        margin-left: -0.5px;
        background: #FFDC40;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
    }
    .inputText{
        width: 239px;
        padding-left: 10px;
        margin-left: -1px;
        margin-top: -1px;
        height: 40px;
        border-radius: 10px;
        background: 0;
    }
    .plus{
        margin: 0;
        justify-content: center;
        width: 42px;
        height: 42px;
        background: #AA68FE;
        border-radius: 71px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        color: white;
    }
    .addText{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        color: white;
        padding-left: 10px;
    }
    .todoText{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 30px;
        text-align: center;
        text-transform: capitalize;
    }
    .newDiv{
        display: flex;
    }
    .xpic:hover{
        background-color: blueviolet;
        border-radius: 50%;
    }
    .sortButton{
        margin-left: 280px;
    }
    input{
        border: 0;
        height: 30px;
        margin-left: 5px;
        cursor: move;
    }
    .xpicButton{
        margin-top: 5px;
        width: 20px;
    }
    button{
        background: 0;
        border: 0px;
    }
    .buttonAdd{
        margin-top: 18px;
        margin-left: 92px;
    }
    #divof2Elem{
        height: 40px;
        display: flex;
    }